# dependencies
node_modules/

# Next.js
.next/
.next_stale_runtime_backup/
out/

# production build artifacts
deploy/

# local env files
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts
